[2021-02-20 16:44] kodumbeats opened #3 "Hard wrap STDOUT past 100-120 columns"
As an example, `appwrite help` produces a list of services. Zero of these lines are under 80 columns, `["storage", "users"]` are the only under 100 (the [current linux kernel standard](https://www.phoronix.com/scan.php?page=news_item&px=Linux-Kernel-Deprecates-80-Col)), and the longest line `teams` is 149 columns.

Just a style preference, but it's a pain point to resize my terminal every time I u

[2021-02-20 16:47] christyjacob4 commented on #3
@kodumbeats thank you for raising this. I was just working on this today.

Do you have any suggestions to tackle this?

[2021-02-20 17:16] kodumbeats commented on #3
My first thoughts after perusing these scripts:
- [the code](https://github.com/appwrite/sdk-for-cli/blob/master/app/Appwrite/Services/functions.php#L46) loops through `printf` with some padding in the front. Could first run the output string through [`wordwrap()`](https://www.php.net/manual/en/function.wordwrap.php), and then fiddle with the padding right before writing to STDOUT.
- Might be wort

[2021-02-20 17:32] christyjacob4 commented on #3
I'll experiment with `wordwrap()` and let you know.
I was thinking of moving this logic of calculating the padding etc to `Parser.php` since `Manipulators.php` is specific to the `jc21` table library that we are using.

[2021-02-20 19:14] kodumbeats commented on #3
Aha, `Parser.php` looks like a better place. :) Most of the necessary abstraction logic is already in [`parseResponse`](https://github.com/appwrite/sdk-for-cli/blob/master/src/Parser.php#L53) it seems.

[2021-02-21 20:56] kodumbeats opened #4 "Handling arrays returned from API"
When an API response returns an array, the CLI doesn't properly handle arrays. Because of this, as an example, permissions cannot be viewed via the CLI.

From the endpoint `/v1/storage/files/{fileId}`, the `$permissions` field is empty:
[code]

From `/v1/storage/files` and `v1/functions`, `$permissions` returns only the array with length in parentheses:

![arrays](https://user-images.githubusercon

[2021-02-23 16:40] christyjacob4 commented on #3
![Screenshot 2021-02-23 at 10 09 52 PM](https://user-images.githubusercontent.com/20852629/108876088-db4b2500-7623-11eb-921d-940cf191eff9.png)
@kodumbeats

[2021-02-23 16:42] christyjacob4 commented on #3
https://github.com/appwrite/sdk-generator/pull/112

[2021-02-26 20:57] #3 closed

[2021-03-10 22:02] eldadfux commented on #4
Has this been fixed on 0.6.0 @christyjacob4 @kodumbeats ?

[2021-03-11 13:29] kodumbeats commented on #4
Looks like it's still an issue:
![arraysincli](https://user-images.githubusercontent.com/9708641/110794474-cd142000-8243-11eb-8fc8-f4e0683d1ea4.png)

[2021-03-25 05:41] christyjacob4 commented on #4
@eldadfux @kodumbeats Since the arrays can have an indefinite amount of nesting, I had decided to display only the first level of arrays in the form of a table. Once we decide on a proper logic to handle nested arrays and how to display them, I'll go ahead with the implementation

[2021-04-22 20:10] cadenkriese opened #6 "Move CLI entry point into its own file"
The CLI entry point is currently stored inside of the [install script](https://github.com/appwrite/sdk-for-cli/blob/master/install.sh#L127). I want to propose moving it to its own file as it will make alternate install methods (such as homebrew) easier to implement.

[2021-04-30 18:02] cambo2015 opened #7 "CLI script does not install in windows 10"
Hi! I tried to run
[code]
but I got an error. It looks like it is a bug. I don't know powershell or I would fix it.

[code]

Thanks!

[2021-05-07 01:07] DanTheMinotaur opened #8 "Failed to execute process '/usr/local/bin/appwrite'."
When executing appwrite in a non-bash shell (I'm using [fish](https://fishshell.com/)). It will respond with unknown error.

[code]

This is due to their being a newline before the shebang. It can be fixed by removing the newline.

**/usr/local/bin/appwrite**
[code]

Probably an non-issue but thought I'd leave it here if anyone else runs into this.

[2021-05-08 05:58] eldadfux commented on #7
@cambo2015 we have pushed a fix, and a new version will be released in a few days, thanks for reporting the issue!

[2021-05-08 16:28] cambo2015 commented on #7
Thank you! It's very much appreciated 🥳

[2021-05-19 16:37] TorstenDittmann commented on #7
This is fixed now with https://github.com/appwrite/sdk-for-cli/releases/tag/0.9.0 👏🏻

[2021-05-19 16:37] #7 closed

[2021-05-21 08:14] andydean565 opened #9 "Failed to connect to localhost: Connection refused with status code 0"
I have set up appwrite write using docker-compose on my localhost, but the CLI won't connect to the server

- windows

[2021-05-22 14:29] christyjacob4 commented on #9
Hey @andydean565
Can you make the following request in postman and share the output ?

Method : GET
Url : <Your endpoint>/v1/locale/continents

Headers:
`x-appwrite-project` : `Your project ID`

[2021-05-22 15:14] andydean565 commented on #9
[code]

[2021-05-22 15:23] christyjacob4 commented on #9
If this works, then you should be able to use the same endpoint( including /v1) and project ID in `appwrite init` and it should work

[2021-05-24 12:54] andydean565 commented on #9
have managed to get it working and am unsure if the issue was down to when I setup the appwrite host from `localhost` to `0.0.0.0`

or

i was originally working through powerShell with wsl but have since changed to setting everything up in wsl ubuntu (including the CLI)

[2021-05-24 12:54] #9 closed

[2021-06-30 19:09] JaviBonilla opened #10 "functions createTag fails when the full file path where the code is has a space character"
If the full file path where the code is located has a space character, i.e. `/home/javi/functions/analyze Image/` the functions createTag command

[code]

fails with this error.

[code]

Otherwise, `/home/javi/functions/analyzeImage/`, it works fine.

- Appwrite CLI 0.10.0
- Docker version 20.10.6-ce, build 8728dd246c3a
- Linux linux-openSUSE 5.12.13-1-default

[2021-07-05 12:29] christyjacob4 commented on #10
@JaviBonilla  Thank you for raising this :smiley:

https://github.com/appwrite/sdk-generator/pull/228 Should fix it :+1:

[2021-07-05 12:49] JaviBonilla commented on #10
@christyjacob4 Great! Thanks.

There is another kind of issue, when the size of the `code.tar.gz` is greater than the given in `_APP_STORAGE_LIMIT`environment variable, the deployment fails and this warning (which doesn`t clearly point to the issue) is given.

[code]

Could you try to replicate that?

[2021-07-06 08:19] christyjacob4 commented on #10
@JaviBonilla  Yes , I was able to replicate it and this PR https://github.com/appwrite/sdk-generator/pull/229  has a fix for that as well :smile:
Thanks for helping with the debugging

[2021-07-06 08:53] JaviBonilla commented on #10
Thanks @christyjacob4

[2021-07-08 03:47] eldadfux commented on #10
This fix is now available in the latest CLI release.

[2021-07-08 03:47] #10 closed

[2021-07-13 16:37] Solido opened #12 "Shell appwrite init conf is reset after updating a property"
Complete `appwrite init steps`

then update any property
`appwrite client setLocale --locale="en-US"`

End up with
`❌ Oops We were unable to load your preferences. Ensure that you have run 'appwrite init' before using the CLI`

Setup under powershell

[2021-09-04 06:07] yeikel16 opened #13 "bug: the term 'appwrite' is not recognized as the name of a cmdlet"
After installing the install script from the CLI without problem, it does not recognize `appwrite` as a command within the console. I am using PowerShell to run the command.

[code]

[2021-09-04 20:57] eldadfux commented on #13
@christyjacob4 @TorstenDittmann any ideas?

[2021-09-13 11:57] dawid-niedzwiecki opened #14 "bug: using appwrite cli to update user prefs doesn't update them"
I tried the following commands to update an existing users preferences:
[code]
and many other combinations of ", ' and no quotations at all. It always gives me the same error (Value must be a valid object). When I use the CLI to create a user, it does create the user, but leaves the prefs untouched (meaning empty, no matter if I set them to something or not).

[2021-09-21 18:22] stnguyen90 commented on #14
I think this is happening because the prefs is a string and is never decoded to a PHP array so it gets sent to the server as a string rather than an object:

https://github.com/appwrite/sdk-for-cli/blob/master/app/users.php#L233

I will try to submit a PR but I'm not sure when I'll have time to do so.

[2021-09-30 10:49] Meldiron opened #15 "Upgrade our issue templates to use GitHub issue forms ✍️"
# Introduction

GitHub has recently rolled out a [public beta for their issue forms](https://github.blog/changelog/2021-06-23-issues-forms-beta-for-public-repositories/) feature. This would allow you to create interactive issue templates and validate them 🤯.

Appwrite currently uses the older [issue template format](https://docs.github.com/en/communities/using-templates-to-encourage-useful-issues-

[2021-09-30 18:17] abxhr commented on #15
I would love to work on this! 🚀

[2021-09-30 18:57] TorstenDittmann commented on #15
We will start assigning issues once Hacktoberfest starts 🙏🏻

[2021-10-01 04:01] stnguyen90 commented on #14
May I work on this issue for Hacktoberfest?

[2021-10-01 06:15] abxhr commented on #15
I've noticed that there are no Issue Templates created in this repository

[2021-10-01 07:25] christyjacob4 commented on #15
@abxhr All the best

[2021-10-01 07:37] abxhr commented on #15
@christyjacob4 Thanks for assigning it to me!
I've not found any Issue Templates already set up in this repository. Let me know what would be required in the forms, so I could make those Issue Templates as well.

[2021-10-01 08:45] Meldiron commented on #15
@abxhr Please refer to `appwrite/appwrite` repo to see how the issue form should look like. Your task is to implement it into this repo 😊

[2021-10-02 17:43] shadowshot-x opened #16 "Appwrite Database CreateCollection"
I am trying to create a collection using Appwrite CLI. However, I cannot get the command to work. Each command throws a Server Error Message. I followed the examples and also tried to pass the parameters

`appwrite database createCollection --name="todo-crud" --read="["*"]" --write="["*"]" --rules="[ {"label":"Name","key":"name","type":"text","default":"Empty Name","required":true,"array":false},]

[2021-10-03 10:26] Derek-X-Wang opened #18 "🐛 Bug Report: CLI install script fails for Apple Silicon Mac"
`curl -sL https://appwrite.io/cli/install.sh | bash` fails on Apple Silicon Mac

For Apple Silicon Mac, `sudo` is needed when `cp` to `"/usr/local/bin"`.

This behavior is different from Intel Mac which doesn't need `sudo`.

Error Log
[code]

[2021-10-03 10:51] Derek-X-Wang commented on #18
I made a pull request for this issue https://github.com/appwrite/sdk-generator/pull/274

[2021-10-06 14:02] christyjacob4 commented on #15
Thank you so much for the contribution! The changes have been merged

[2021-10-18 05:31] #14 closed

[2021-11-10 23:40] NeonSpork commented on #13
@yeikel16 Did this problem resolve when you restarted powershell?

[2021-11-15 10:21] NeonSpork opened #22 "🐛 Bug Report: appwrite CLI does not properly parse boolean values"
### 👟 Reproduction steps

(appwrite v0.11.0)

The CLI does not correctly parse boolean values. I believe it passes them as strings without converting and checking if it is a valid boolean value.

In my case, I am attempting to set the `emailVerification` value of a user manually with the CLI with the following command:
`appwrite users updateVerification --userId="618d12a8701cd" --emailVerification

[2021-11-17 23:57] stnguyen90 commented on #22
How about if you try 1? Also, would you please update the title to include a short summary of the bug?

[2021-11-18 05:36] NeonSpork commented on #22
I believe I tried 1, but I'll give that a whirl again!

Also, oops about the title! Should be fixed

[2022-02-20 10:58] aymericfontaine commented on #22
There is still the problem on all boolean parameters.

message : Invalid required: Value must be a valid boolean
code : 400
version : 0.12.1

message : Invalid required: Value must be a valid boolean
code : 400
version : 0.12.1

message : Invalid required: Value must be a valid boolean
code : 400
version : 0.12.1

message : Invalid required: Value must be a valid boolean
code : 400
version : 0.12.

[2022-03-03 10:41] christyjacob4 commented on #22
Thank you all for raising this. This shouldn't be a problem anymore with the new CLI

[2022-03-03 14:27] rdmchr opened #27 "Feature Request: .appwriteignore file"
You should be able to add a .appwriteignore file to each function directory to make sure that some files are not uploaded. Ideally, there should be some config option to use .gitignore instead of .appwriteignore to make it easier, since most of the time the files would be the same.

[2022-03-03 14:29] rdmchr opened #28 "code.tar.gz remains when function throws error"
I got this error when I tried deploying my function:
[code]
After exiting the CLI did not remove the code.tar.gz file it created. I believe the CLI should remove the file even if it crashes since there is no reason to leave it.

[2022-03-03 21:13] maximilianmaihoefner opened #124 "🐛 Bug Report: Cannot deploy collections in appwrite.json with Int Attributes"
### 👟 Reproduction steps

1. Create a new Integer Attribute via the Web Interface, enter a name and leave all other fields empty and click create.
2. Connect the Appwrite CLI 2.0 using `appwrite login`
3. Create `appwrite.json` using `appwrite init --all`
4. Inspect the Integer Attribute in `appwrite.json`, it should show a min/max value of `-9223372036854776000`/`9223372036854776000`.
5. Try to d

[2022-03-05 20:02] rdmchr opened #29 "Init function does not work on Windows"
It seems that some commands used by the CLI are Linux exclusive: https://github.com/appwrite/sdk-for-cli/blob/aed828f37740dad6e3453d12d2e102c50df3db67/lib/commands/init.js#L75

[2022-03-08 10:12] #22 closed

[2022-03-11 15:33] jonorozcoc commented on #13
It's not solved after restarting the console

[2022-03-11 23:53] yeikel16 commented on #13
n

Sorry for the late reply, restarting the console didn't fix the problem.
To solve this problem you have to install the CLI by `npm install -g appwrite-cli` and not by `iwr -useb https://appwrite.io/cli/install.ps1 | iex`, because the latter causes such an error.
I close this issue for now.

[2022-03-11 23:53] #13 closed

[2022-03-15 04:53] lohanidamodar commented on #16
With new cli this might not be relevant.

[2022-03-15 22:31] watzon opened #30 "'appwrite init function' doesn't work on Windows"
Seems like there might be something linux specific with `appwrite init function`.  When attempting on Windows I get
[code]

Node version: v17.7.1
Appwrite CLI version: 0.15.0

Tried with both CMD and Powershell

[2022-03-15 22:42] christyjacob4 commented on #30
You're right @watzon Thank you for raising this. We're using Unix specific `mkdir` in the code causing it to fail on Windows.
As a temporary work around, please use WSL.

We have this noted and we'll fix it soon 🙂

[2022-03-15 22:47] christyjacob4 commented on #12
@Solido , We released CLI 0.15 and this should no longer be an issue 🙂

[2022-03-15 22:47] #12 closed

[2022-03-15 22:48] christyjacob4 commented on #6
@cadenkriese  We released CLI 0.15 and this should no longer be an issue 🙂

[2022-03-15 22:48] #6 closed

[2022-03-15 22:49] christyjacob4 commented on #16
@shadowshot-x  We released CLI 0.15 and this should no longer be an issue 🙂

[2022-03-15 22:49] #16 closed

[2022-03-15 23:12] christyjacob4 commented on #27
@rdmchr  Thank you for raising this. We're evaluating the best way to do it and have arrived at 2 options

1. Using a .appwriteignore file
2. Using the appwrite.json file to include an `ignore` key

I personally have an inclination for the 2nd method since it avoids the need to explain an additional file ( .appwriteignore ). Secondly, Firebase uses a [similar convention](https://firebase.google.co

[2022-03-15 23:13] christyjacob4 commented on #29
@rdmchr  Thank you for  raising this . We will get this fixed 👍
As a temporary workaround, please use WSL while we fix it.

[2022-03-15 23:13] christyjacob4 commented on #28
Thank you for raising this @rdmchr . We'll look into this 🙂

[2022-03-15 23:14] christyjacob4 commented on #8
@DanTheMinotaur  Please let me know if this is still an issue with the latest `CLI 0.15.0`

[2022-03-16 06:00] rdmchr commented on #27
Both options would work fine I think, but have you thought about adding an option to get the ignored files from the .gitignore file?

[2022-03-21 09:53] Meldiron commented on #27
We considered this option but didn't think it's intuitive enough for a developer to expect `.gitignore` to affect your Appwrite deploy process. Have you seen this behaviour in some other tool? If yes, please link us so we can see how they communicate this information.

[2022-03-21 09:56] rdmchr commented on #27
Sadly I have never seen this feature, but I thought it might be useful since most of the time the files you want git and Appwrite to ignore are the same.

[2022-03-22 21:11] yngwi commented on #27
I have just encountered this with the `node_modules` folder for my function. This should be (for instance) excluded at all times, I guess?

[2022-03-23 07:12] Meldiron commented on #27
Adding node_modules folder server as a patch to their issue when builds worker cant see monorepos or private dependencies. It would also be hard to exactly specify ignored folders for every runtime, as in some of them, it's up to you to choose the name and there is one mainly used by the community. Doesn't mean it's always the one your project uses.

I agree that function starters should include i

[2022-03-24 14:12] Meldiron commented on #27
We decided on the following setup:

In `appwrite.json`, there will be `ignore` array on every function. This fills automatically with the dependencies folder if you use Appwrite CLI to generate the function (using template).

You can set this attribute to `null` (or remove it). If you do that, it will start using `.gitignore` as a source of files and folders that needs to be ignored.

If you don't

[2022-03-24 20:20] theMeysam commented on #22
in v:0.13.3.303 when I sent http request I see this error yet (I try connect to appwrite via n8n platform):
`[
{
"headers": {
"host": "...",
"user-agent": "axios/0.21.4",
"content-length": "60",
"accept": "application/json,text/*;q=0.99",
"content-type": "application/json",
"x-appwrite-key": "...",
"x-appwrite-project": "...",
"x-forwarded-for": "...",
"x-forwarded-host": "...",
"x-forwarded-port"

[2022-04-14 05:24] spersico opened #32 "Use Case that blocks login with unfriendly & undocumented fix"
So:
I just started playing with appwrite.
- Installed appwrite in my local docker. Everything broke (makes sense, my local docker installation is super broken). Decided to go for the 1-click gitpod one. Created a project and a user there. Everything works!
- Installed the appwrite-cli package, and tried loggin-in.
I probably copied the wrong url or something like that because it threw the _Error N

[2022-04-14 13:56] christyjacob4 commented on #32
@spersico that's great feedback, but did you get a chance to read this section of the docs ?
https://appwrite.io/docs/command-line#configuration

It talks about how you can change any of the CLI configuration parameters.

So the feature exists.. You don't need to delete any files to re-configure your endpoint.

I think it boils down to communication... How do you suggest we could communicate this

[2022-04-14 14:29] spersico commented on #32
Hey there!  👋
I took a look at the URL and you are correct. I didn't see that one.
Regarding the communication thing... I can think of 2 things, based of what I did to figure out the issue:
- I googled the error code, and then the specific error code (the verbose version).
- I tried to search the login help page of the CLI
- I searched "change endpoint appwrite login" or something like that.

So,

[2022-04-15 19:13] sendyputra opened #33 "appwrite deploy function catch SyntaxError: Unexpected token o in JSON at position 1"
Hi! 👋

Firstly, thanks for your work on this project! 🙂

Today I used [patch-package](https://github.com/ds300/patch-package) to patch `appwrite-cli@0.16.0` for the project I'm working on.

Here is the diff that solved my problem:

[code]

<em>This issue body was [partially generated by patch-package](https://github.com/ds300/patch-package/issues/296).</em>

[2022-04-18 08:16] christyjacob4 commented on #32
@spersico we're working on a fix here 👍
https://github.com/appwrite/sdk-generator/pull/425

[2022-04-19 15:55] PortStone commented on #33
Having the same issue as well. Is this going to get fixed?

[2022-04-25 08:07] loicgeek opened #34 "Cannot login using appwrite CLI"
<img width="757" alt="image" src="https://user-images.githubusercontent.com/33604660/165046883-a504fe20-c4ec-4e4c-853a-9ed5f75e8f15.png">

[2022-04-25 08:12] loicgeek commented on #34
Well after reading others issue, I end up fixing it this way ...
<img width="895" alt="image" src="https://user-images.githubusercontent.com/33604660/165047629-7fe22496-21aa-4835-8720-6f53d00a49d9.png">

[2022-04-25 08:12] #34 closed

[2022-04-25 08:39] loicgeek commented on #33
@sendyputra  what about doing this instead? ```    if (typeof vars !== 'undefined') {
       try {
        payload['vars'] = JSON.parse(vars);
       } catch (error) {
        payload['vars'] =vars;
       }
    }```

[2022-04-25 09:12] sendyputra commented on #33
@loicgeek Interesting catch json parse with trycatch 👍

[2022-05-01 07:39] anandsubbu007 commented on #30
any update?

[2022-05-03 13:50] DmitriyIgnashchenko commented on #33
how can I fix this issue?

[2022-05-05 06:34] Curiouspaul1 commented on #13
perhaps take it out from the docs ? or fix the issue

[2022-05-05 08:16] Meldiron commented on #30
Addressed in PR: https://github.com/appwrite/sdk-generator/pull/406

[2022-05-05 08:18] Meldiron commented on #33
Addressed in a PR: https://github.com/appwrite/sdk-generator/pull/427

[2022-05-10 10:36] Curiouspaul1 opened #35 "Unable to login to appwrite instance on azure from cli"
Hi i'm having some issues logging in to my appwrite instance on an Azure VM, via the cli, i set the appwrite client --endpoint to the hostname (http://tgappwrite.eastus.cloudapp.azure.com) of the VM (which is an alias for the public IP), the link opens up fine and i can open up the appwrite instance from the browser and login from there as well, but when i try logging in i keep getting this "NOt f

[2022-05-12 16:32] Gagaofthesouthside opened #36 "{App-write Sdk-for-cli }"
{ > # - [x] appwrite could be fun I love to come back and give a different comment, after I have mastered appwrite }

[2022-05-20 16:00] stnguyen90 commented on #33
Version 0.17.1 has been released to fix this.

[2022-05-20 16:23] dedonnodev opened #37 "[BUG] Login to a selfsigned host"
Hi there!
I discovered that with the 0.17.1 version i can't `appwrite login` to a self signed host (like localhost).

If i downgrade to the Appwrite Cli 0.15 it works without problems.
But with a "prefs.conf" already configured, the 0.17.1 version works.

PS: appwrite 0.14.2

[2022-05-21 21:48] stnguyen90 commented on #30
Duplicate of https://github.com/appwrite/sdk-for-cli/issues/29

[2022-05-21 21:58] stnguyen90 commented on #35
Can you try with /v1 at the end of the endpoint?

[2022-05-21 21:59] stnguyen90 commented on #37
Your prefs.json needs to have a self signed flag set to true. You can also set it via the CLI.

[2022-05-22 00:37] CEbbinghaus opened #38 "No win x64 download for 0.17.1"
For some reason, the 1.17.1 release has no x64 version that can be downloaded. This causes the install.ps1 script to fail when trying to download the executable.
[code]

[2022-05-22 06:38] CEbbinghaus opened #39 "Feature: Adding Scoop support to appwrite"
[Scoop](https://scoop.sh/) is a package manager for windows allowing for easy installation of packages via a JSON manifest file. This is achieved by either having the manifest as part of a [bucket](https://scoop-docs.vercel.app/docs/concepts/Buckets.html) or by providing a direct link to it. It would be nice to have a functioning manifest hosted in the github repository to allow anyone to install

[2022-06-15 00:09] cybr-dev commented on #38
I encounterd the same problem

[2022-06-22 03:38] stnguyen90 commented on #37
Have you checked if your prefs.json has the self signed option set?

[2022-06-22 03:39] stnguyen90 commented on #35
Have you had a chance to check your endpoint? Btw you should use https rather than http.

[2022-06-22 03:40] stnguyen90 commented on #33
@sendyputra can this be closed now?

[2022-06-22 03:41] stnguyen90 commented on #27
@rdmchr can this be closed now?

[2022-06-22 03:43] stnguyen90 commented on #8
@DanTheMinotaur can this be closed now?

[2022-06-22 09:12] DanTheMinotaur commented on #8
@stnguyen90 all good now 👍

[2022-06-22 09:12] #8 closed

[2022-06-22 11:14] #35 closed

[2022-07-01 12:31] squallsama opened #40 "Can't login via cli to appwrite 0.15.x"
`appwrite login`
? Enter your email **************
? Enter your password **********
? Enter the endpoint of your Appwrite server  **************

And got:

`✗ Error Param "userId" is not optional.`

[2022-07-01 12:37] adityaoberai commented on #40
@squallsama we're making some final updates, so the Appwrite CLI will have support for v0.15.x soon.

Keep an eye out on our [Discord server](https://appwrite.io/discord) for more info on this.

[2022-07-01 17:01] NasserGo opened #41 "Can't login via cli to appwrite 0.17.1"
(base) ➜  ~ appwrite login
? Enter your email *************
? Enter your password *************
✗ Error Param "userId" is not optional.

[2022-07-01 17:13] stnguyen90 commented on #41
This looks to be the same as https://github.com/appwrite/sdk-for-cli/issues/40. A fix should be going out soon.

[2022-07-02 03:42] NasserGo commented on #41
in my case , the appwrite ci dont ask the  endpoint of Appwrite server

[2022-07-02 04:06] stnguyen90 commented on #41
This is probably because it's already set. You can see what it's set to by running

[code]

[2022-07-02 07:49] ameerfayiz commented on #40
any updates??

[2022-07-02 08:31] adityaoberai commented on #40
@Meldiron has been working on the CLI and we're currently doing more QA to ensure that you don't face any issues in the updated CLI

You can keep an eye out for these here: https://github.com/appwrite/sdk-generator/pull/484

[2022-07-03 10:20] dedonnodev commented on #37
Hi there,
what i mean was that by CLI i couldn't login to a self signed host, but only if i set it manually in prefs.json.

Actually i didn't test with new versions. If it will happen, i will open a new issue.
Have a good day!

[2022-07-03 10:20] #37 closed

[2022-07-03 12:53] grisoftumut commented on #38
I have same problem on my windows computer

[2022-07-03 14:02] grisoftumut commented on #40
any progress? we stucked on cli on new release.

[2022-07-04 10:08] NasserGo commented on #41
No solution found yet, currently cli can't login

[2022-07-05 09:46] ameerfayiz commented on #40
Any clue on when will the bug be fixed ?? Stuck on CLI 0.17.1 with appwrite 0.15.1

[2022-07-05 12:49] adityaoberai commented on #40
We'll be sharing all updates regarding this issue on the PR here: [appwrite/sdk-generator#484](https://github.com/appwrite/sdk-generator/pull/484)

It is just undergoing final QA, and should be merged soon. Closing this issue for now as it is redundant.

[2022-07-05 12:49] #40 closed

[2022-07-05 13:22] squallsama commented on #40
But it's still valid. Maybe it's better to close issue after releasing fix ?

[2022-07-05 21:14] stnguyen90 commented on #41
Related PR: https://github.com/appwrite/sdk-generator/pull/484

[2022-07-06 14:53] stnguyen90 commented on #41
Released! Please upgrade and try with 0.18.1!

[2022-07-06 15:23] grisoftumut commented on #41
finally, thank for your effort

[2022-07-06 15:31] #36 closed

[2022-07-06 15:31] #33 closed

[2022-07-06 15:33] stnguyen90 commented on #29
We'll track this in https://github.com/appwrite/sdk-for-cli/issues/30 as there are a few more comments in there.

[2022-07-06 15:33] #29 closed

[2022-07-06 23:33] rohankm opened #42 "Feature Request:- cloning of projects, databases and collections"
Adding more user/developer-friendly functions like cloning  would be helpful

The current approach for cloning a project is is
1. init the database
2. init the collection
3. create a new project
4. manually edit the project id and project name inside appwrite.json to the new project
5. deploy the collection

which a beginner developer might feel overhead..

what I suggest is a simple clone feature

[2022-07-20 12:46] TheMardy opened #44 "Bug: 0.18.2: Cannot find module './database'"
The 0.18.2 release throws an error when trying to execute. On Windows as well as Linux.
[code]
Downgrading to 0.18.1 works fine.

[2022-07-20 12:50] JakeAi commented on #44
Can confirm, Just posted in discord 10 mins ago.

[2022-07-20 15:52] #44 closed

[2022-07-20 16:26] dedonnodev opened #47 "Deploy collection will set database name equal to database Id"
How to reproduce:
- From a new project create a database and a collection
- execute `appwrite init collection --all`
- delete database created from appwrite console
- execute `appwrite deploy collection --all`

Appwrite CLI deploy the right database and collection, but put in database's name the database's id

[2022-07-20 16:34] dedonnodev commented on #47
I made a pull request i think with the fix
#48

[2022-07-20 16:45] dedonnodev commented on #47
Wait a moment, i just understand what happen. If you run "appwrite init collection --all" it doesn't save database name, but only Id.
I got confused between collection name and database stuff.

So, my question is, why it doesn't save databseName? Or why it doesn't save database object in "appwrite.json" file as do with collection objects?

[2022-07-20 16:56] dedonnodev opened #49 "Deploying collections doesn't update collection permission"
Steps for reproduce:
- create a new database and a new collection
- appwrite init collection --all
- edit appwrite.json changing permission of collection created
- appwrite deploy collection --all

The collection's permission will not update. Instead, if you delete this collection and then run `appwrite deploy collection --all` it will be created with right permission. So it just do not update col

[2022-07-20 19:22] stnguyen90 commented on #47
@christyjacob4, would you be able to answer this?

[2022-07-20 21:09] #41 closed

[2022-07-20 21:10] #32 closed

[2022-07-20 21:10] #27 closed

[2022-07-22 12:00] DanielAlbertSwan commented on #30
The Windows specific code is missing in current master is this intended?

[2022-07-25 19:22] stnguyen90 commented on #30
Thanks for bringing this up! 🙏  The code seems to have disappeared. 🧐 We'll look into it and fix it ASAP.

[2022-07-26 04:49] stnguyen90 commented on #30
@DanielAlbertSwan, we just pushed 0.18.4. How does it look now?

[2022-08-02 11:56] DanielAlbertSwan commented on #30
Yes now it is working

[2022-08-02 16:31] #30 closed

[2022-08-16 19:31] stnguyen90 commented on #38
This should be resolved now. Please feel free to comment if there are any issues.

[2022-08-16 19:31] #38 closed

[2022-08-16 19:32] soufi opened #52 "🐛 Bug Report: Homebrew updates stuck with v0.15.0"
### 👟 Reproduction steps

Install the CLI using homebrew :
[code]
The version I get is v0.15.0

### 👍 Expected behavior

I should get the latest version v.0.18.4

### 👎 Actual Behavior

I am having v.0.15.0 even after running a `brew upgrade`

### 🎲 Appwrite version

Version 0.15.x

### 💻 Operating system

MacOS

### 🧱 Your Environment

_No response_

### 👀 Have you spent some time to check if thi

[2022-08-22 15:41] wess commented on #52
Thank you for submitting this issue. Can you please run `brew doctor` and let me know if you see any issues?

Thanks!

[2022-08-24 19:27] soufi commented on #52
Hello @wess, No issues when running `brew doctor` the result is `Your system is ready to brew.`

[2022-09-07 22:53] stnguyen90 commented on #52
@wess, perhaps it would be good to set up a repo for homebrew like [sentry](https://github.com/getsentry/homebrew-tools).  To install the sentry cli, you would run:

[code]

[2022-09-18 11:02] netapy opened #55 "🐛 Bug Report: Deploy Python function doesn't work because of roles"
### 👟 Reproduction steps

1. create a python 3.9 function using permissions and roles
[code]
3. `appwrite deploy function`
4. select "MyAwesomeFunction"
5. Error appears :
[code]

### 👍 Expected behavior

It should deploy my function normally to my appwrite server.

### 👎 Actual Behavior

Error appears :
[code]

### 🎲 Appwrite version

Different version (specify in environment)

### 💻 Operating sy

[2022-09-18 13:31] #55 closed

[2022-09-18 13:32] netapy commented on #55
Sorry, I forgot to change the array "execute" of my function in the `appwrite.json` file.
All clear !

[2022-09-22 06:47] stillie opened #57 "🐛 Bug Report: Issue with installing AppWrite using the terminal command"
### 👟 Reproduction steps

When I installed AppWrite CLI for the first time using `curl -sL https://appwrite.io/cli/install.sh | bash` then running `appwrite -v` I get an error

### 👍 Expected behavior

Installing AppWrite with Terminal should work fine

### 👎 Actual Behavior
After installing AppWrite using the terminal command and then running `appwrite -v` I get the following error:

[code]

But

[2022-09-22 08:46] sunnycat1991 commented on #57
我也遇到了这个问题！

[2022-09-22 08:47] sunnycat1991 commented on #57
I had this problem too!

[2022-09-22 08:49] sunnycat1991 commented on #57
Operating system ====> windows 11

[2022-09-26 22:33] stnguyen90 commented on #57
@stillie, this seemed to work fine for me:

[code]

What was the output of the install command when you ran it?

Also, are you on Appwrite 0.15.x? If so, you shouldn't be installing the latest CLI.

[2022-09-26 22:39] stnguyen90 commented on #57
@sunnycat1991, what was the output of your install?

[2022-09-27 11:38] maikeriva opened #58 "🐛 Bug Report: appwrite client command fails with https host"
### 👟 Reproduction steps

When I try to set an https host via the appwrite cli, it fails with the following error:
[code]
Appwrite itself works normally it is reachable both via the web console and the SDKs.
If I replace `https` with `http`, the command succeeds.
It is very likely not an issue with system permissions as adding `sudo` to the command does not change the outcome.
After a [troubleshoo

[2022-10-02 16:00] yaakov123 opened #59 "🐛 Bug Report: Variables aren't Deployed on 1st Function Deployment"
### 👟 Reproduction steps

When I try to deploy a function for the first time using "appwrite deploy function", the CLI does not deploy the variables that are located in the appwrite.json for that function. Running "appwrite deploy" function again causes the variables to show up in the console.

### 👍 Expected behavior

It should create the function's variable even during the initial function deplo

[2022-10-06 06:43] stillie commented on #57
@stnguyen90 What OS did you run your command on? I was installing it on macOS Monterey 12.5.1

[2022-10-06 13:02] sarkartanmay393 opened #61 "🐛 Bug Report: Homebrew is installing outdated version of Appwrite CLI (0.15.0)"
### 👟 Reproduction steps

When I tried to install Appwrite CLI using Homebrew commands,
`brew tap appwrite/sdk-for-cli https://github.com/appwrite/sdk-for-cli`
`brew update`
`brew install --HEAD appwrite`

It is actually installing **Appwrite CLI 0.15.0**, an outdated version for some reason.

### 👍 Expected behavior

It should install **Appwrite CLI 1.1.1** as of 6 Oct 2022.

### 👎 Actual Behavio

[2022-10-06 14:03] sarkartanmay393 commented on #61
Yeas, Sure.

[2022-10-06 14:03] #61 closed

[2022-10-06 14:06] stnguyen90 commented on #57
@stillie, M1 MacOS 12.3.

[2022-10-06 14:09] stillie commented on #57
v18.9.0

[2022-10-06 14:16] stillie commented on #57
As I mentioned earlier, I couldn't install it with `curl -sL https://appwrite.io/cli/install.sh | bash` but I managed to get it installed with Home-brew I just wanted to highlight this issue incase there was a problem that no one was aware of

[2022-10-07 18:38] stnguyen90 commented on #52
@wess another reason why this is broken is the formula is pointing to the wrong branch:

https://github.com/appwrite/sdk-for-cli/blob/6d19ac0dd68de82ab78b3ec4f02ea2a5f90dabca/Formula/appwrite.rb#L7

[2022-10-07 18:41] stnguyen90 commented on #57
@stillie oh wait...your problem is Appwrite version...You're running Appwrite Version 0.15.x. When you installed via `curl -sL https://appwrite.io/cli/install.sh | bash`, it installed the latest version of the CLI which doesn't work on Appwrite 0.15.x. You actually got lucky with the homebrew installation method because that's stuck on the CLI version for 0.15.x.

[2022-10-07 18:41] #57 closed

[2022-10-08 13:25] InfiniteVerma opened #62 "🐛 Bug Report: init function fails on Ubuntu 20.04"
### 👟 Reproduction steps

Running ```appwrite init function``` throws error (screenshot provided below)

### 👍 Expected behavior

Should create a new function.

### 👎 Actual Behavior

Throws an error.

![image](https://user-images.githubusercontent.com/45547198/194709636-e421a93e-cb67-4e82-a653-07fe3f44a7fe.png)

### 🎲 Appwrite version

Version 1.0.x

### 💻 Operating system

Linux

### 🧱 Your Envi

[2022-10-08 13:26] InfiniteVerma commented on #62
Possible solution: Git sparse is not available on git version 2.25.1. Ubuntu apt packages list hasn't updated git version so users need to install git via ppa to fix this.

Reference: https://stackoverflow.com/a/73856490/16654923

I installed git using ppa and the command worked:
![image](https://user-images.githubusercontent.com/45547198/194709881-c38ee765-f381-441e-8133-088ee8b59ee5.png)

[2022-10-08 14:11] InfiniteVerma commented on #62
Perhaps we could check and request the user to update the git version if ```== 2.25.1```. I could raise a PR for this.

[2022-10-11 16:21] InfiniteVerma opened #63 "🚀 Feature: Clarify when no functions are deployed"
### 🔖 Feature description

If the user runs `appwrite deploy function` and presses `enter` without selecting any function, the CLI proceeds without informing user of anything.

If the user (like me) doesn't read the instructions properly, they might press `enter` and think the first function has been deployed.

https://user-images.githubusercontent.com/45547198/195146201-83f2f0f0-8f9f-48cf-a144-68

[2022-10-11 20:50] MoskalykA commented on #63
I would like to do this if it is acceptable

[2022-10-17 21:23] codercatdev commented on #42
Love this, I was just running into this myself! I like creating projectId same as projectName most of the time.

My expecation of running `appwrite deploy collection` would offer to create project, then offer to create db as well.

[code]

[2022-10-18 18:17] schilken opened #64 "appwrite functions createExecution prints 40 kb strange output"
### 👟 Reproduction steps

I create a new function in an flutter project on macOS 12.6 on MacBook Air (M1, 2020)

[code]

stdout.log contains 40 kb !

### 👍 Expected behavior

The result should contain only the first 14 lines of the stdout.log:

[code]

### 👎 Actual Behavior

The file stdout.log contains about 40 kb of strange output starting with this content:

[code]

### Logs on the web console

[2022-11-04 03:05] #52 closed

[2022-11-23 10:10] ddenev opened #67 "🚀 Feature: Don't skip function deployment when selecting not to overwrite variables"
### 🔖 Feature description

When I deploy a function that have variables configured in `appwrite.json`, the `appwrite deploy function` cli asks me to confirm if I want to overwrite the variables:
![image](https://user-images.githubusercontent.com/1393766/203519687-d9dfafab-e59f-4bd8-9a9d-7140362c2145.png)
I would like that when I choose not to overwrite the variables, i.e. I do not type "YES" (I ju